@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@media only screen and (min-width: 1080px) {
  body > *:not(nav):not(.modal) {
    scale: 0.9; } }
nav .logo {
  padding-bottom: 6px; }
  nav .logo img {
    width: 260px; }
nav .search-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3B57A7;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 420px) {
    nav .search-icon {
      width: 30px;
      height: 30px; } }
  nav .search-icon img {
    height: 18px;
    margin: 10px; }
    @media only screen and (max-width: 420px) {
      nav .search-icon img {
        height: 10px; } }

.search-area .search {
  width: 66%;
  max-width: 500px; }
  .search-area .search input {
    height: 40px;
    width: 100%;
    background-color: #3B57A7;
    opacity: 0.5;
    color: white;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif; }
  .search-area .search ::-webkit-input-placeholder {
    color: white; }
  .search-area .search button {
    position: absolute;
    right: 0;
    height: 40px;
    width: 90px;
    background: #3B57A7;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 500px) {
    .search-area .search {
      display: none; } }

p {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 14px; }

.search-wrapper {
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14); }
  @media only screen and (max-width: 500px) {
    .search-wrapper {
      border-radius: 10px;
      padding: 20px; } }
  .search-wrapper > div {
    width: 17%; }
  .search-wrapper .filter-select-wrapper {
    background-color: #F7FAFF;
    border-radius: 100px;
    color: black;
    min-width: 16%;
    font-size: 14px;
    height: 40px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #C9E0FF; }
    .search-wrapper .filter-select-wrapper select {
      background-color: #F7FAFF;
      width: 100%;
      border: none; }
      .search-wrapper .filter-select-wrapper select:focus {
        box-shadow: none;
        outline: none; }

.btn-apply {
  min-width: 100%;
  border-radius: 100px;
  background-color: #3B57A7;
  border: none;
  height: 40px;
  color: white; }

.search-item {
  margin-bottom: 50px; }
  @media only screen and (max-width: 769px) {
    .search-item {
      background-color: white;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.09);
      padding: 20px; } }
  .search-item .search-item__wrapper .image-slider {
    padding: 0 !important; }
    @media only screen and (max-width: 769px) {
      .search-item .search-item__wrapper .image-slider {
        padding: 10px !important; } }
    .search-item .search-item__wrapper .image-slider .image-slider__slick {
      margin: auto;
      height: 400px;
      width: 380px;
      max-width: 100%;
      position: relative;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.09);
      border-radius: 6px;
      overflow: hidden;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      @media only screen and (max-width: 769px) {
        .search-item .search-item__wrapper .image-slider .image-slider__slick {
          width: 100%;
          height: 300px;
          box-shadow: none; } }
      .search-item .search-item__wrapper .image-slider .image-slider__slick img {
        height: 400px;
        width: 380px;
        object-position: center;
        object-fit: cover; }
        @media only screen and (max-width: 769px) {
          .search-item .search-item__wrapper .image-slider .image-slider__slick img {
            height: auto;
            width: auto; } }
  .search-item .search-item__wrapper .details-wrapper {
    padding-top: 40px; }
    @media only screen and (max-width: 769px) {
      .search-item .search-item__wrapper .details-wrapper {
        padding-top: 10px; } }
    .search-item .search-item__wrapper .details-wrapper .details-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .search-item .search-item__wrapper .details-wrapper .details-header .badge {
        margin-right: 10px; }
      @media only screen and (max-width: 769px) {
        .search-item .search-item__wrapper .details-wrapper .details-header {
          padding-left: 0;
          flex-wrap: wrap; }
          .search-item .search-item__wrapper .details-wrapper .details-header > div {
            margin-bottom: 4px; } }
    .search-item .search-item__wrapper .details-wrapper .details-content__wrapper {
      background-color: white;
      padding: 30px 30px 30px 60px;
      margin-left: -60px;
      border-radius: 6px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.09); }
      @media only screen and (max-width: 769px) {
        .search-item .search-item__wrapper .details-wrapper .details-content__wrapper {
          padding: 0;
          margin: auto;
          box-shadow: none; } }
      .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .title {
        margin-bottom: 18px; }
        .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .title h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 22px; }
          @media only screen and (max-width: 769px) {
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .title h3 {
              font-size: 18px; } }
      .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .price {
        font-weight: 600;
        font-size: 32px;
        color: black;
        margin-right: 18px;
        margin-bottom: 0; }
        @media only screen and (max-width: 769px) {
          .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .price {
            font-size: 22px; } }
      .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper {
        padding: 10px 30px; }
        @media only screen and (max-width: 420px) {
          .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper {
            padding: 10px; } }
        .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main {
          position: relative;
          height: 18px; }
          .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__a4l {
            height: 14px;
            background-color: #3B57A7;
            position: absolute;
            z-index: 1;
            bottom: 8px; }
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__a4l:after {
              height: 23px;
              background-color: inherit;
              right: 0;
              width: 2px;
              content: " ";
              display: block;
              position: absolute;
              bottom: 0; }
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__a4l > .labels {
              position: absolute;
              top: -50px;
              right: -11%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              cursor: pointer; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__a4l > .labels .title {
                margin: 0;
                text-decoration: underline;
                font-size: 14px;
                font-style: italic; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__a4l > .labels .price {
                font-size: 12px;
                font-weight: bold;
                margin: 0; }
          .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others {
            height: inherit;
            background-color: rgba(201, 224, 255, 0.78);
            position: absolute;
            width: 100%; }
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others:after {
              height: 29px;
              background-color: rgba(170, 206, 255, 0.78);
              right: 0;
              width: 2px;
              content: " ";
              display: block;
              position: absolute;
              bottom: -11px; }
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .labels {
              position: absolute;
              right: -9%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              bottom: -51px;
              cursor: pointer; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .labels .title {
                margin: 0;
                text-decoration: underline;
                font-size: 13px;
                font-style: italic; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .labels .price {
                font-size: 12px;
                font-weight: bold;
                margin: 0; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .labels:hover ~ .details {
                display: block; }
            .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .details {
              width: 100px;
              background-color: #3B57A7;
              position: absolute;
              top: 69px;
              right: -5px;
              display: none; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .details:hover {
                display: block; }
              .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .details table {
                font-size: 12px;
                color: white; }
                .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .graph__wrapper .graph .graph__main .graph__others > .details table * {
                  padding: 3px;
                  margin: 0; }
      .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .pickup {
        margin-top: 18px; }
        .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .pickup p {
          margin: 0; }
        .search-item .search-item__wrapper .details-wrapper .details-content__wrapper .pickup img {
          width: 24px; }

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  height: 36px;
  border-radius: 50px; }
  @media only screen and (max-width: 420px) {
    .badge {
      padding: 3px 10px;
      height: 26px; } }
  .badge img, .badge svg {
    max-height: 22px;
    max-width: 22px;
    margin-right: 6px; }
    @media only screen and (max-width: 420px) {
      .badge img, .badge svg {
        max-height: 14px;
        max-width: 14px;
        margin-right: 6px; } }
  .badge span {
    color: black;
    font-weight: 400; }

.badge-primary {
  background-color: rgba(201, 224, 255, 0.78); }

.badge-danger {
  background-color: rgba(255, 132, 132, 0.21); }
  .badge-danger svg {
    fill: rgba(255, 0, 0, 0.58); }

.badge-warning {
  background-color: rgba(253, 118, 69, 0.24); }
  .badge-warning svg {
    fill: rgba(232, 83, 32, 0.67); }

.badge-success {
  background-color: rgba(70, 201, 0, 0.3) !important; }

.save-text {
  color: orangered;
  font-size: 22px;
  font-weight: 500; }

#lightbox-modal .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e"); }
#lightbox-modal .modal-body {
  background-color: black !important;
  display: flex;
  align-items: center;
  justify-content: center; }
  #lightbox-modal .modal-body #lightbox-slider img {
    max-height: 90vh;
    margin: auto;
    object-fit: cover;
    object-position: center; }
#lightbox-modal #scratches {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  width: 100%;
  background: black;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.24); }
  #lightbox-modal #scratches button {
    padding: 6px 16px;
    background-color: #3B57A7;
    color: white;
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    font-size: 13px;
    margin: 0 4px; }

/*# sourceMappingURL=style.css.map */
